[submodule "meteor-context-menu"]
	path = meteor-context-menu
	url = git@github.com:justdoinc/meteor-context-menu.git
[submodule "meteor-simple-schema"]
	path = meteor-simple-schema
	url = git@github.com:MeteorSpark/meteor-simple-schema.git
[submodule "fast-render"]
	path = fast-render
	url = git@github.com:theosp/fast-render.git
[submodule "meteor-collection2-core"]
	path = meteor-collection2-core
	url = git@github.com:theosp/meteor-collection2-core.git
[submodule "iron-location"]
	path = iron-location
	url = git@github.com:theosp/iron-location.git
[submodule "jazeee-meteor-spiderable"]
	path = jazeee-meteor-spiderable
	url = git@github.com:theosp/jazeee-meteor-spiderable.git
[submodule "meteor-apm-agent"]
	path = meteor-apm-agent
	url = git@github.com:justdoinc/meteor-apm-agent.git
[submodule "justdo-linkify/lib/linkify"]
	path = justdo-linkify/lib/linkify
	url = git@github.com:nfrasser/linkify-shim.git
