.bootbox-new-design
  .modal-title
    font-family: "lato", sans-serif
    font-size: 18px
    font-weight: bold
    color: #3D495B

  .bootbox-close-button
    order: 2

.bootbox-close-button:focus
  opacity: 1
  outline: 0px

@media (min-width: 768px)
  .bootbox-new-design
    .modal-dialog
      max-width: 600px
